button
{
    position: absolute; 
    left: 50%;     
    transform: translateX(-50%);
    visibility: hidden; /*hide until canvas loads*/
    width: 300px;     
    border-radius: 20px;
    background-color: lightblue;  
    transition: transform 0.5s ease;    
    cursor: pointer;
}

.centerText
{
    position: absolute; 
    left: 50%;     
    transform: translateX(-50%);
    text-align: center;
    visibility: hidden; /*hide until canvas loads*/
    width: 300px;        
}

#title
{
    visibility: hidden;

    position: absolute; 
    left: 50%; 
    top: 20%; 
    transform: translateX(-50%); 
    color: red;
    font-size: 50pt;
    white-space: nowrap; /*prevents multi-line text on small resolutions*/
}

button:hover
{
    background-color: rgb(151, 203, 255);
    transform: translateX(-50%) scale(1.1);
}

button:active
{
    background-color: rgb(79, 160, 232);
}